{{extend ("./parent.html")}} {{#block ("body")}}
<div class="panel panel-default">
	<div class="panel-heading">
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li><a href="#">歌曲管理</a></li>
			<li class="active">歌曲列表</li>
		</ol>
	</div>
	<div class="panel-heading">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">歌曲名称</span>
			<input type="text" class="form-control" id="musicName" placeholder="请输入歌曲名称进行查询" aria-describedby="basic-addon1" style="width:200px;margin-right:10px;"
			  value="{{ keyword }}">
			<input type="button" class="btn btn-success" onclick='search()' value="查找" style="margin-right:10px;">
			<input type="button" class="btn btn-success" value="新增" onclick="window.location.href='/musicmanager/add'">
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>姓名</th>
					<th>年龄</th>
					<th>性别</th>
					<th>电话</th>
					<th>地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{{#each(musics)}}
				<tr>
					<td>{{this.name}}</td>
					<td>{{this.age}}</td>
					<td>{{this.sex}}</td>
					<td>{{this.phone}}</td>
					<td>{{this.address}}</td>
					<td>
						<a href="/musicmanager/edit/{{ this._id }}" class="btn btn-success">编辑</a> |

						<input type="button" class="btn btn-danger" onclick="del('{{ this._id }}')" value="删除">
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	function del(musicId) {
		if (!confirm("确定要删除该条数据吗?")) {
			return;
		}

		var url = '/musicmanager/delete/' + musicId;
		$.getJSON(url, null, function (result) {
			if (result.status == 0) { // 删除失败
				alert(result.message)
			} else { // 删除成功
				alert(result.message)
				window.location = window.location
			}
		})
	}

	//搜索
	function search() {
		var musicName = $("#musicName").val();

		window.location.href = "/musicmanager/musiclist?keyword=" + musicName;
	}
</script>
{{/block}}